.container {
    margin-left: 0;
    margin-right: 0
}

.btn-round {
    color: white;
    background: #343a40 !important;
    width: 40px;
    height: 40px;
    padding: 6px 0px;
    border-radius: 20px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857
}

.btn-pill {
    color: white;
    background: #343a40 !important;
    padding: 8px 24px;
    border-radius: 20px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.42857;
    letter-spacing: .1em
}

h1,h4 {
    color: white
}

.spacer {
    height: 14rem
}

.spacer-sm {
    height: 1rem
}

.btn-pill:hover {
    background-color: rgba(52,58,64,.8) !important
}

.btn-round:hover {
    background-color: rgba(52,58,64,.8) !important
}

.navbar.bg-light {
    background-color: rgba(248, 249, 250, 0) !important
}

.navbar-brand {
    margin-right: auto !important
}

.btn-menu {
    color: rgba(255,255,255,.5) !important;
    background: rgba(0,0,0,0) !important;
    border: none
}

.btn-menu:hover {
    color: rgba(255,255,255,.8) !important;
    background: rgba(0,0,0,0) !important;
    border: none
}

.btn-menu.active {
    color: orange !important
}

.btn-menu-subtitle {
    font-size: 10px
}

.btn-menu-icon {
    font-size: 20px
}

.card-title {
    color: black
}

.card-body {
    padding: 0
}

.card-footer {
    padding: .75rem 1.25rem;
    border: none
}

.p-2 {
    padding: 1.25rem !important
}

.bg-white-90 {
    background-color: hsla(0,0%,100%,.9)
}

.bg-white-100 {
    background-color: hsla(0,0%,100%,1)
}

.card {
    background: none
}

.card-bar {
    height: 20px
}

.push-menu.item {
    width: 100%;
    padding: 1em;
    text-align: left
}

.navmenu {
    background-color: white;
}

.navmenu-nav > li:not(:last-child):after {
    border-bottom-style: solid;
    border-color: darkgray;
    border-bottom-width: 1px
}

.push-menu.item:hover {
    background-color: lightgray;
    cursor: pointer      
}

.sensor-detail-link {
    cursor: pointer;
    text-decoration: none;
    color: #6c757d !important
}

.sensor-detail-link:hover {
    cursor: pointer;
    text-decoration: none;
    color: #505356 !important
}

.modal-content {
    border-radius: 0 !important
}

.modal-content .btn {
    border-radius: 0
}

.modal-content input {
    border-radius: 0
}

.verification-input {
    line-height: 2.0em;
    text-align: center;
    padding: 10px 0px 10px 0px;
    border: 1.5px solid #ced4da
}

.verification-box:first-child {
    padding-left: 5px
}

.verification-box {
    padding-left: 5px;
    padding-right: 5px
}

.verification-box:last-of-type {
    padding-right: 5px;
}

.verification-modal {
    padding-left: 2em;
    padding-right: 2em
}

.loo-kit-img {
    padding-bottom: 1em
}

.slide-out {
    animation: slide-out .5s forwards
}

.step {
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out
}

.hidden-step {
    display: none
}

.slide-in {
    animation: slide-in .2s backwards
}

.dissolve {
    animation: dissolve .2s forwards
}

@keyframes slide-in {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes dissolve {
    100% {
        transition: .2s ease-in-out;
        opacity: 0
    }
}

@keyframes slide-out {
    from {
        opacity: 0
    }

    to {
        opacity: 0
    }
}
