<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Loo - Analytics Dashboard</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,700" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet">
    <link href="~/css/loo.css" rel="stylesheet">
</head>
<body ng-app="app" ng-controller="restroomController as vm">
    <nav id="restroomSelector" class="navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation">
        <ul class="nav navmenu-nav">
            <li ng-repeat="r in vm.Restrooms" class="push-menu item">{{r}}</li>
        </ul>
    </nav>
        
    <nav class="container-fluid navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-brand" href="#">
            <button class="btn btn-default btn-round" data-toggle="offcanvas" data-target="#restroomSelector" data-canvas="body">
                <i class="fas fa-list-ul"></i>        
            </button>
        </div>
        <div class="">
            <span class="float-right">
                <button class="btn btn-default btn-pill">
                    Edit
                </button>
                <button class="btn btn-default btn-round">
                    <i class="fas fa-plus"></i>
                </button>
            </span>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h1>{{vm.Buildings[0]}}</h1>
            </div>
        </div>
        <div class="spacer-sm row">
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h4>Sensors</h4>
                <div class="row">
                        <div ng-repeat="s in vm.Sensors" class="col-sm-4">
                    <div class="card mb-4">
                        <div class="card-block">
                            <div class="card-body">
                                <h5 class="card-title">{{s.SensorName}}</h5>
                                <div class="card-text">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer bg-transparent text-muted">
                                <i class="fas fa-battery-half float-right"></i>
                            </div>
                        </div>
                    </div>
                </div>  
                </div>
            </div>
        </div>
    </div>
    <nav class="container-fluid navbar fixed-bottom navbar-dark bg-dark">
        <div class="mx-auto row">
            <a ng-href="/" class="col-xs-4">
                <div class="btn btn-menu btn-secondary">
                    <div class="btn-menu-icon">
                        <i class="fas fa-home"></i>
                    </div>
                    <div class="btn-menu-subtitle">Home</div>
                </div>
            </a>
            <a ng-href="/restrooms" class="col-xs-4">
                <div class="btn btn-menu btn-secondary active">
                    <div class="btn-menu-icon">
                        <i class="fas fa-th-large"></i>
                    </div>
                    <div class="btn-menu-subtitle">Restrooms</div>
                </div>
            </a>
            <a ng-href="/schedule" class="col-xs-4">
                <div class="btn btn-menu btn-secondary">
                    <div class="btn-menu-icon">
                        <i class="fas fa-clock"></i>
                    </div>
                    <div class="btn-menu-subtitle">Schedule</div>
                </div>
            </a>
        </div>
    </nav>
</body>
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
<script src="~/js/angular/app.js"></script>
<script src="~/js/angular/restroomController.js"></script>
</html>