<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SmartLoo - Analytics Dashboard</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css" integrity="sha384-p2jx59pefphTFIpeqCcISO9MdVfIm4pNnsL08A6v5vaQc4owkQqxMV8kg4Yvhaw/" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,700" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet">
    <link href="~/css/loo.css" rel="stylesheet">
</head>
<body ng-app="app" ng-controller="restroomController as vm">
    <nav id="restroomSelector" class="navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation">
        <ul class="nav navmenu-nav">
            <li ng-repeat="r in vm.Restrooms" class="push-menu item">{{r}}</li>
        </ul>
    </nav>
        
    <nav class="container-fluid navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-brand" href="#">
            <button class="btn btn-default btn-round" data-toggle="offcanvas" data-target="#restroomSelector" data-canvas="body">
                <i class="fas fa-list-ul"></i>        
            </button>
        </div>
        <div class="">
            <span class="float-right">
                <button class="btn btn-default btn-pill">
                    Edit
                </button>
                <button type="button" ng-click="vm.ResetValidation()" data-toggle="modal" data-target="#sensorSetupModal" class="btn btn-default btn-round">
                    <i class="fas fa-plus"></i>
                </button>
            </span>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h1>{{vm.Buildings[0]}}</h1>
                <h4>{{vm.Restrooms[0]}}</h4>
            </div>
        </div>
        <div class="spacer-sm row">
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h4>Sensors</h4>
                <div class="row">                       
                    <div ng-repeat="s in vm.Sensors | orderBy:'SortOrder'" class="col-lg-2 col-md-4 col-sm-2">
                    <div class="card mb-4">
                        <div class="card-block">
                            <div class="card-body">
                                <div class="d-flex flex-row card-flex">
                                  <div class="p-2 bg-white-100">
                                    <i ng-if="s.SensorId[0] == 'T'" class="fas fa-trash"></i>
                                    <i ng-if="s.SensorId[0] == 'L'" class="fas fa-tint"></i>
                                    <i ng-if="s.SensorId[0] == 'P'" class="fas fa-hand-paper"></i>
                                    <i ng-if="s.SensorId[0] == 'S'" class="fas fa-hand-holding"></i>
                                  </div>
                                  <div class="p-2 bg-white-90 w-100">
                                        <div ng-class="{'bg-danger': s.SensorId[0] == 'L' && s.SensorValue == 1 || (s.SensorId[0] != 'T' && s.SensorValue <= 10)}" class="progress-bar card-bar" role="progressbar" aria-valuenow="{{vm.progressBar(s)}}" aria-valuemin="0" aria-valuemax="100" ng-style="{width : ( vm.progressBar(s) + '%' ) }"></div><br>
                                        {{s.SensorName}}<br>
                                        <div ng-if="s.SensorId[0] != 'L' && s.SensorId[0] != 'T'">{{vm.progressBar(s) | number:0}}% remaining</div>
                                        <div ng-if="s.SensorId[0] == 'L' && s.SensorValue != 1">No leakages</div>
                                        <div ng-if="s.SensorId[0] == 'L' && s.SensorValue != 0">Leak detected</div>
                                        <div ng-if="s.SensorId[0] == 'T'">{{vm.progressBar(s) | number:0}}% full</div>                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
                </div>
            </div>
        </div>
    </div>
    <nav class="container-fluid navbar fixed-bottom navbar-dark bg-dark">
        <div class="mx-auto row">
            <a ng-href="/" class="col-xs-4">
                <div class="btn btn-menu btn-secondary">
                    <div class="btn-menu-icon">
                        <i class="fas fa-home"></i>
                    </div>
                    <div class="btn-menu-subtitle">Home</div>
                </div>
            </a>
            <a ng-href="/restrooms" class="col-xs-4">
                <div class="btn btn-menu btn-secondary">
                    <div class="btn-menu-icon">
                        <i class="fas fa-th-large"></i>
                    </div>
                    <div class="btn-menu-subtitle">Restrooms</div>
                </div>
            </a>
            <a ng-href="/schedule" class="col-xs-4">
                <div class="btn btn-menu btn-secondary active">
                    <div class="btn-menu-icon">
                        <i class="fas fa-clock"></i>
                    </div>
                    <div class="btn-menu-subtitle">Schedule</div>
                </div>
            </a>
        </div>
    </nav>
</body>

<!-- Modal -->
<div class="modal fade" id="sensorSetupModal" tabindex="-1" role="dialog" aria-labelledby="sensorSetupModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Accessory</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="step1" class="step">
            <img width="200px" class="img-fluid loo-kit-img" src="~/images/loo-kit-code.png">                    
            <h5>Enter SmartLoo setup code</h5>
            <h6>Look for the 8-digit setup code in the packaging or on the sensor.</h6>
            <br>
            <form>
              <div class="verification-modal row">
                <div class="col verification-box">
                  <input ng-model="vm.Validation[0]" maxlength="1" type="text" class="form-control verification-input left-input" autofocus>
                </div>
                <div class="col verification-box">
                  <input ng-model="vm.Validation[1]" maxlength="1" type="text" class="form-control verification-input">
                </div>
                <div class="col verification-box">
                  <input ng-model="vm.Validation[2]" maxlength="1" type="text" class="form-control verification-input">
                </div>                
                <div class="col verification-box">
                  <input ng-model="vm.Validation[3]" maxlength="1" type="text" class="form-control verification-input">
                </div>
                <div class="col verification-box">
                  <input ng-model="vm.Validation[4]" maxlength="1" type="text" class="form-control verification-input">
                </div>
                <div class="col verification-box">
                  <input ng-model="vm.Validation[5]" maxlength="1" type="text" class="form-control verification-input">
                </div>
                <div class="col verification-box">
                  <input ng-model="vm.Validation[6]" maxlength="1" type="text" class="form-control verification-input">
                </div>
                <div class="col verification-box">
                  <input ng-model="vm.Validation[7]" maxlength="1" type="text" class="form-control verification-input">
                </div>
              </div>
                <br>
            </form>        
        </div>
        <div id="step2" class="step hidden-step">
            <h5>Location Details</h5>
            <br>
            <div class="row">
              <div class="col-8">
                <label for="inputPassword5">Building</label>
                <input ng-model="vm.NewAccessory.BuildingName" type="text" class="form-control" placeholder="Studio C">
              </div>
              <div class="col-4">
                <label for="inputPassword5">Building Code</label>
                <input ng-model="vm.NewAccessory.BuildingCode" type="text" class="form-control" placeholder="B100">
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-8">
                <label for="inputPassword5">Restroom</label>
                <input ng-model="vm.NewAccessory.LocationName" type="text" class="form-control" placeholder="1st Floor Women">
              </div>
              <div class="col-4">
                <label for="inputPassword5">Building Code</label>
                <input ng-model="vm.NewAccessory.LocationCode" type="text" class="form-control" placeholder="1FLW">
              </div>
            </div>
            <br>
        </div>
        <br>
        <div id="step3" class="step hidden-step">
            <h5>Location Details</h5>
            <h6>Great! We found the bridge you're connected to.</h6>
            <br>
            <div class="row">
              <div class="col-8">
                <label for="inputPassword5">Building</label>
                <input ng-model="vm.NewAccessory.BuildingName" type="text" class="form-control" placeholder="Studio C" readonly>
              </div>
              <div class="col-4">
                <label for="inputPassword5">Building Code</label>
                <input ng-model="vm.NewAccessory.BuildingCode" type="text" class="form-control" placeholder="B100" readonly>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-8">
                <label for="inputPassword5">Restroom</label>
                <input ng-model="vm.NewAccessory.LocationName" type="text" class="form-control" placeholder="1st Floor Women" readonly>
              </div>
              <div class="col-4">
                <label for="inputPassword5">Building Code</label>
                <input ng-model="vm.NewAccessory.LocationCode" type="text" class="form-control" placeholder="1FLW" readonly>
              </div>
            </div>
            <br>
        </div>
        <div id="step4" class="step hidden-step">
            <h5>Sensor Details</h5>
            <h6>Give this sensor a descriptive name.</h6>
            <br>
            <div class="row">
              <div class="col-12">
                <input ng-model="vm.NewAccessory.SensorName" type="text" class="form-control" placeholder="Left Paper Towel Dispenser">
              </div>
            </div>
            <br>
        </div>
        <div id="step5" class="step hidden-step">
            <h5>Calibration</h5>
            <h6>Almost done! Follow the calibration steps carefully.</h6>
            <br>
            <div ng-if="vm.NewAccessory.SensorId[0] == 'S'" class="row">
              <div class="col-12">
                <label>Enter total number of pumps from manufacturer spec sheet:</label>
                <input ng-model="vm.NewAccessory.CMinDist" type="number" class="form-control" placeholder="3000">
              </div>
            </div>
            <div ng-if="vm.NewAccessory.SensorId[0] == 'P'">
              <div class="form-group">
                <label>1. Enter minimum roll diameter in (cm):</label>
                <input ng-model="vm.NewAccessory.CMinDist" type="number" class="form-control" placeholder="50">
              </div>
              <div class="form-group">
                <label>2. Insert full roll and press calibrate:</label>
                <button ng-click="vm.Calibrate()" class="btn btn-block btn-dark">Calibrate</button>
              </div>
              <div class="form-group">
                <label>3. Calibration value:</label>
                <input ng-model="vm.NewAccessory.CInitialDist" type="text" class="form-control" readonly>
                <br>              
              </div>
            </div>
            <div ng-if="vm.NewAccessory.SensorId[0] == 'T'">
              <div class="form-group">
                <label>1. Enter minimum roll diameter in (cm):</label>
                <input ng-model="vm.NewAccessory.CMinDist" type="number" class="form-control" placeholder="50">
              </div>
              <div class="form-group">
                <label>2. Insert full roll and press calibrate:</label>
                <button ng-click="vm.Calibrate()" class="btn btn-block btn-dark">Calibrate</button>
                <br>
              </div>
              <div class="form-group">
                <label>3. Calibration value:</label>
                <input ng-model="vm.NewAccessory.CInitialDist" type="text" class="form-control" readonly>
                <br>              
              </div>
            </div>
            <div ng-if="vm.NewAccessory.SensorId[0] == 'W'">
              <div class="form-group">
                <label>1. Enter distance from sensor to top of liner in (cm):</label>
                <input ng-model="vm.NewAccessory.CMinDist" type="number" class="form-control" placeholder="50">
              </div>
              <div class="form-group">
                <label>2. Ensure trash can is empty and press calibrate:</label>
                <button ng-click="vm.Calibrate()" class="btn btn-block btn-dark">Calibrate</button>
                <br>
              </div>
              <div class="form-group">
                <label>3. Calibration value:</label>
                <input ng-model="vm.NewAccessory.CInitialDist" type="text" class="form-control" readonly>
                <br>              
              </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button ng-if="vm.CurrentStep != 5" ng-click="vm.AdvanceStep()" type="button" class="btn btn-dark">Continue</button>
        <button data-dismiss="modal" ng-disabled="vm.NewAccessory.CInitialDist == ''" ng-if="vm.CurrentStep == 5" ng-click="vm.RegisterAccessory()" type="button" class="btn btn-dark">Save</button>
      </div>
    </div>
  </div>
</div>
    
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
<script src="~/js/angular/app.js"></script>
<script src="~/js/angular/restroomController.js"></script>
</html>